.container {
  font-size: large;
  list-style: none;  
}

.container a:hover {  
  transition: ease-in .5s;
  color:black; 
}

.Acerca p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Hahmlet', serif;
  font-size: medium;
}

h1 {
  padding-left: 30px;
  font-family: 'Open Sans', sans-serif;  
}

.divider {
    height: 4px;
    width: 60px;
    background-color: #b0ebfa;
    margin-top: 10px;
    margin-bottom: 2em;
}

#perfil {
  width: 250px;
  height: 250px;
  border-radius: 200%;
  float: left;
  margin-right: 40px;
}

.Educación p {  
  font-family: 'Hahmlet', serif;
  font-size: medium;  
}

.github {  
  padding-left: 30px;
  font-family: 'Hahmlet', serif;
  font-size: medium;
}

.github a {
  text-decoration: none;
  color:  #212f3d;
  font-size: medium;
}

.Contacto h2 {  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(0,0,0,0.9);
  padding-left: 10px;
}

img {
  border-radius: 60%;
}